<h1> <%= @user.name %>'s Events </h1>


<ul>
    <% @events.each do |event| %>
    <li>
        <%= link_to event.title, event_path(event)  %>
        <%= link_to event.description, event_path(event) %>
    </li>
    <% end %>
</ul>





  